.container-fluid.serivices01
	.row.general
		.col-xs-12.hidden-md.hidden-lg
			h1 Network Equipment Manufacturers
		.col-xs-12.col-sm-4
			img.img-responsive(src="assets/images/serivices01.jpg")
			hr.hidden-sm.hidden-md.hidden-lg
		.col-xs-12.col-sm-8
			p MsSIM is suitable for loading of TRX carriers of GSM/EDGE/Evolved-EDGE base stations
			p 3GSIM is able to perform full load of UMTS/HSPA/HSPA+ carriers
			p UeSIM is suitable for full load of 5/10/20 MHz carriers from LTE/LTE-Advanced eNodeBs.for UeSIM, an unparalleled solution to simulate real radio conditions (such as fading and mobility) is available.
	hr
	.row
		.col-xs-12.col-sm-6.col-md-6.col-lg-3.group01
			.title
				h4 Simulation over the radio interfaces
					br
					small
						| (GSM, UMTS/HSPA+, LTE)
			hr.hidden-sm.hidden-xs
			.menu
				ul
					li: a(href="#") Inter-rat & handover testing
					li: a(href="#") Load & stress testing
			hr
			.description
				p 2G - GSM, EDGE, Evolved EDGE and VAMOS
				p 3G - UMTS and HSPA/HSPA+ with MIMO
				p 4G - LTE and LTE-Advanced with 2×2/4×4 MIMO


		.col-xs-12.col-sm-6.col-md-6.col-lg-3.group02
			.title
				h4 Quality of Service Testing
			hr.hidden-sm.hidden-xs
			.menu
				ul
					li
						a(href="#") Real world simulation
						br
						span (fading, mobility and smartphones)

			hr
			.description
				p Real world simulation by fading and different mobility profiles simulations
				p PHY and MAC layer analysis and error injection
				p Real smartphones and tablets simulation


		.col-xs-12.col-sm-6.col-md-6.col-lg-3.group03
			.title
				h4 Core Network Elements Solutions
			hr.hidden-sm.hidden-xs
			.menu
				ul
					li: a(href="#") Core network simulating solutions
					li: a(href="#") IP-PBX testing
					li: a(href="#") SMSC load testing
			hr
			.description
				p The IP-PBX testing solution
				p The SMSC load & stress solution

		.col-xs-12.col-sm-6.col-md-6.col-lg-3.group04
			.title
				h4 System & Integration Testing
			hr.hidden-sm.hidden-xs
			.menu
				ul
					li: a(href="#") Details
			hr
			.description

				p Abis Simulators: BTS simulation, dynamic Abis, large mobile phone simulations, handover, congestion, etc.
				
				ul
					li Feature Testing
					li Functional Testing
					li Quality Assurance
					li Testing Automation

				ul
					li Gb Simulators
					li EDGE Load & Stress
					li MSC Simulator