.container-fluid.serivices03
	.row.general
		.col-xs-12.hidden-md.hidden-lg
			h1 Vertical Solutions
		.col-xs-12.col-sm-4
			img.img-responsive(src="assets/images/serivices03.jpg")
			hr.hidden-sm.hidden-md.hidden-lg
		.col-xs-12.col-sm-8
			p
				| Telecommunication networks testing has changed dramatically during the past ten years. The traditional testing approach was based on testing each network element separately and then delegating the QoS verification in the live network.
				br
				| The so called Vertical Solutions by Prisma allow to cope with the complex testing challenges posed by the new generation networks while having the flexibility and the customization features of traditional tools.
				br
				| The range of PRISMA’s testing solutions has been recently expanded to the Railway Signalling and the Emergency Management sectors.
	hr
	.row
		.col-xs-12.col-md-6.group01
			.title
				h4 ERTMS Application Testing
			hr.hidden-sm.hidden-xs
			.menu
				ul
					li: a(href="#") View details
			hr
			.description
				p
					| ERTMS and GSM-R
				p
					|BssSIM-R, PRISMA’s Solution for ERTMS Testing
				p
					| Typical ERTMS Application Testing Examples:Test performance, monitoring and load stress issues quickly and conveniently using PRISMA software – and with no need for test bed activities at your Customer’s premises
					| Debug interworking issues with particular handsets in a controlled environment
					| Demonstrate the application to the Customer using real terminals and any SIM profile(live and test SIMs are available)
				p
					| BssSIM-R Features
					| Test-bed and outdoor environments
					| CS-DATA service 9.6 kbps transparent
					| V.110 over IP interconnection towards external ERTMS platforms
					| Static/dynamic called party management
					| Complete GSM/GPRS core and radio access network simulation
					| Automated test environment (for network and terminals)
					| Integrated monitoring
					| Robustness & stability test suites
					| Specific network element customizations possible(i.e. for SMSC, MMSC, MSC)
					| GbE interconnection to external networks and network elements




		.col-xs-12.col-md-6.group02
			.title
				h4 Emergency Management
			hr.hidden-sm.hidden-xs
			.menu
				ul
					li: a(href="#") View details
			hr
			.description
				p Real world simulation by fading and different mobility profiles simulations
				p PHY and MAC layer analysis and error injection
				p Real smartphones and tablets simulation