.container-fluid.serivices02
	.row.general
		.col-xs-12.hidden-md.hidden-lg
			h1 Operators & Service Providers
		.col-xs-12.col-sm-4
			img.img-responsive(src="assets/images/serivices02.jpg")
			hr.hidden-sm.hidden-md.hidden-lg
		.col-xs-12.col-sm-8
			p The solutions presented in this sections cover any current need from Operators:
			ul.special
				li.col-xs-12.col-md-6 Acceptance Testing
				li.col-xs-12.col-md-6 Manufacturers Assessment
				li.col-xs-12.col-md-6 Quality and Revenue Assurance
				li.col-xs-12.col-md-6 Test Bed Management
				li.col-xs-12.col-md-6 Service Platform Prototyping

	hr
	.row
		.col-xs-12.col-md-4.group01
			.title
				h4 Acceptance Testing
			hr
			.menu
				ul
					li: a(href="#") Handover & Inter-RAT
					li: a(href="#") IP-PBX testing suite
					li: a(href="#") QoS testing
					li: a(href="#") SMSC load testing
			hr
			.description
				p Test Labs of different Network Infrastructure Manufacturers and Network Operators.Test plans, test lists, test case descriptions, test scenarios are the common wording of every professional working.
				br
				p Test philosophy and black box approach have always been the main objectives for PRISMA’s solutions. Moreover, solutions are always designed to grow according to the possible future needs and to the Customer’s perspectives, constantly considering the Customer’s long term investment.


		.col-xs-12.col-md-4.group02
			.title
				h4 Quality assurance
			hr
			.menu
				ul
					li
						a(href="#") Extensive Monitoring System
			hr
			.description
				p Real world simulation by fading and different mobility profiles simulations
				p PHY and MAC layer analysis and error injection
				p Real smartphones and tablets simulation


		.col-xs-12.col-md-4.group03
			.title
				h4 Revenue Assurance
			hr
			.menu
				ul
					li: a(href="#") Ticket Producer
			hr
			.description
				p The IP-PBX testing solution
				p The SMSC load & stress solution